@tailwind base;
@tailwind components;
@tailwind utilities;



@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

.post-content h1 {
  @apply text-4xl font-medium mt-2 mb-4;
}

.post-content h2 {
  @apply text-3xl font-medium mt-2 mb-4;
}

.post-content h3 {
  @apply text-2xl font-medium mt-2 mb-4;
}

.post-content h4 {
  @apply text-xl font-medium mt-2 mb-4;
}

.post-content h5 {
  @apply text-lg font-medium mt-2 mb-4;
}

.post-content h6 {
  @apply text-base font-medium mt-2 mb-4;
}
